{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div>
        <h1>Navigation</h1>
        <ul>
            <li><a href="{% url 'transcriber' %}">Home</a></li>
            <li><a href="{% url 'youtube_transcriber' %}">YouTube Video Transcriber</a></li>
            <li><a href="{% url 'file_transcriber' %}">Audio File Transcriber</a></li>
            <li><a href="{% url 'voice_transcriber' %}">Voice Transcriber</a></li>
        </ul>
    </div>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>